# EDA with Pandas and SQL

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Tue Mar  1 15:35:22 2022

@author: nived
"""

import pandas as pd
import sqlite3
import numpy as np
import datetime

# Read the csv file and find the column names
spacex = pd.read_csv("Spacex.csv")
spacex_cols = spacex.columns

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [2]:
# Question 1: Find the unique launch site names
sites = np.unique(spacex[['Launch_Site']])

# Find launch site names that start with 'CCA'
find_sites = []
j = 0
for i in range(0,len(sites)):
    if(str(sites[i]).startswith('CCA')):
        find_sites.append(sites[i])

print(find_sites)

['CCAFS LC-40', 'CCAFS SLC-40']

In [3]:
# Connect to sql
connection = sqlite3.connect('spacex.sqlite')
# spacex.to_sql('spacex',con=connection)
cur = connection.cursor()

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [4]:
# Filter and find the rows that correspond to launch sites starting with 'CCA'
idx = []
spacex_filtered = pd.DataFrame()
for site in find_sites:
    cur.execute('SELECT * FROM spacex WHERE Launch_Site = ? LIMIT 5', [site])
    for row in cur:
        idx.append(row[0])
        print(row[0])
        spacex_filtered = spacex_filtered.append(spacex.iloc[row[0]])

# Question 2
spacex_filtered.head(5)

0
1
2
3
4
44
46
47
49
51

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt

### Question 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [5]:
# Question 3
customers = np.unique(spacex[['Customer']])
find_cust = []
j = 0
for i in range(0,len(customers)):
    if(str(customers[i]).startswith('NASA')):
        find_cust.append(customers[i])
print(find_cust[:])

temp = spacex[spacex['Customer']=='NASA (CRS)']
total_payloadmass_NASA_crs = temp[spacex_cols[5]].sum()
print(total_payloadmass_NASA_crs)

['NASA (CCD) ', 'NASA (CCDev)', 'NASA (CCP)', 'NASA (COTS)', 'NASA (COTS) NRO', 'NASA (CRS)', 'NASA (CRS), Kacific 1', 'NASA (CTS)', 'NASA (LSP)', 'NASA (LSP) NOAA CNES', 'NASA / NOAA / ESA / EUMETSAT']
45596

In [6]:
spacex.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [92]:
#Question 3 with SQL

total_payload = 0
for cust in find_cust:
    cur.execute('SELECT sum(PAYLOAD_MASS__KG_) FROM spacex WHERE CUSTOMER = ?', [cust]) 
    for row in cur:
        total_payload = total_payload + row[0]
print("Total Payload: ", total_payload)

cur.execute('SELECT sum(PAYLOAD_MASS__KG_) FROM spacex WHERE CUSTOMER = "NASA (CRS)"') 
for row in cur:
    print('Total Payload for NASA (CRS): ', row)

Total Payload:  99980
Total Payload for NASA (CRS):  (45596,)

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [8]:
# Question 4 with Dataframe
temp = spacex[spacex[spacex_cols[2]]=='F9 v1.1']
avg_payloadmass_F9v1 = temp[spacex_cols[5]].mean()
print("Average Payload for F9 v1.1: ", avg_payloadmass_F9v1)

# With SQL
cur.execute('SELECT AVG(PAYLOAD_MASS__KG_) FROM spacex WHERE BOOSTER_VERSION = ?', ['F9 v1.1'])
for row in cur:
    print("Average Payload for F9 v1.1: ", row)

Average Payload for F9 v1.1:  2928.4
Average Payload for F9 v1.1:  (2928.4,)

### Task 5

##### List the date when the first successful landing outcome in ground pad was achieved.

*Hint:Use min function*

In [9]:
# Question 5
success_outcomes = np.unique(spacex[[spacex_cols[9]]])
print(success_outcomes[9])
temp = spacex[spacex[spacex_cols[9]]==success_outcomes[9]]
first_date_success_ground = temp[spacex_cols[0]].min()
print("First successful Ground Landing Date: ", first_date_success_ground)

# With SQL
cur.execute('SELECT MIN(Date) FROM spacex WHERE "Landing _Outcome" = ?', [success_outcomes[9]])
for row in cur:
    print("First successful Ground Landing Date: ", row)

Success (ground pad)
First successful Ground Landing Date:  01-05-2017
First successful Ground Landing Date:  ('01-05-2017',)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [18]:
# Question 6
temp = spacex[(spacex[spacex_cols[9]]==success_outcomes[8]) & (spacex[spacex_cols[5]] > 4000)
              & (spacex[spacex_cols[5]] < 6000)]
print(temp[spacex_cols[2]])

# With SQL
cur.execute('''SELECT BOOSTER_VERSION FROM spacex WHERE "LANDING _OUTCOME"= ? AND 
            PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000''', [success_outcomes[8]])
for row in cur:
    print("Names of boosters which have success in drone ship with 4000<Payload<6000: ", row)

23       F9 FT B1022
27       F9 FT B1026
31    F9 FT  B1021.2
42    F9 FT  B1031.2
Name: Booster_Version, dtype: object
Names of boosters which have success in drone ship with 4000<Payload<6000:  ('F9 FT B1022',)
Names of boosters which have success in drone ship with 4000<Payload<6000:  ('F9 FT B1026',)
Names of boosters which have success in drone ship with 4000<Payload<6000:  ('F9 FT  B1021.2',)
Names of boosters which have success in drone ship with 4000<Payload<6000:  ('F9 FT  B1031.2',)

### Task 7

##### List the total number of successful and failure mission outcomes

In [24]:
# Question 7
mission_outcomes = np.unique(spacex[[spacex_cols[8]]])
temp = spacex[(spacex[spacex_cols[8]]==mission_outcomes[1]) | (spacex[spacex_cols[8]]==mission_outcomes[2])
              | (spacex[spacex_cols[8]]==mission_outcomes[3])]
successful_outcomes = temp[spacex_cols[8]].size
temp = spacex[spacex[spacex_cols[8]]==mission_outcomes[0]]
failure_outcomes = temp[spacex_cols[8]].size
print('Number of successful outcomes is ', successful_outcomes)
print('Number of failed outcomes is', failure_outcomes)

print(" ")
# With SQL
cur.execute('''SELECT count(MISSION_OUTCOME) FROM spacex WHERE MISSION_OUTCOME = ? OR MISSION_OUTCOME = ? 
OR MISSION_OUTCOME = ?''', [mission_outcomes[1], mission_outcomes[2] , mission_outcomes[3]])
for row in cur:
    print('Number of successful outcomes is ', row)

cur.execute('''SELECT count(MISSION_OUTCOME) FROM spacex WHERE MISSION_OUTCOME = ?''', 
            [mission_outcomes[0]])
for row in cur:
    print('Number of failed outcomes is ', row)

Number of successful outcomes is  100
Number of failed outcomes is 1

Number of successful outcomes is  (100,)
Number of failed outcomes is  (1,)

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [26]:
# Question 8
max_payload_mass = spacex[[spacex_cols[5]]].max()[0]
temp = spacex[spacex[spacex_cols[5]]==max_payload_mass]
boosters_max_payload = temp[spacex_cols[2]]
print('Booster version with max payload is', boosters_max_payload)

print(" ")

# With SQL
cur.execute('SELECT BOOSTER_VERSION FROM spacex WHERE PAYLOAD_MASS__KG_ = (SELECT max(PAYLOAD_MASS__KG_) FROM spacex)')
for row in cur:
    print('Booster version with max payload is', row)

Booster version with max payload is 74     F9 B5 B1048.4
77     F9 B5 B1049.4
79     F9 B5 B1051.3
80     F9 B5 B1056.4
82     F9 B5 B1048.5
83     F9 B5 B1051.4
85     F9 B5 B1049.5
92    F9 B5 B1060.2
93    F9 B5 B1058.3
94     F9 B5 B1051.6
95     F9 B5 B1060.3
99    F9 B5 B1049.7
Name: Booster_Version, dtype: object

Booster version with max payload is ('F9 B5 B1048.4',)
Booster version with max payload is ('F9 B5 B1049.4',)
Booster version with max payload is ('F9 B5 B1051.3',)
Booster version with max payload is ('F9 B5 B1056.4',)
Booster version with max payload is ('F9 B5 B1048.5',)
Booster version with max payload is ('F9 B5 B1051.4',)
Booster version with max payload is ('F9 B5 B1049.5',)
Booster version with max payload is ('F9 B5 B1060.2 ',)
Booster version with max payload is ('F9 B5 B1058.3 ',)
Booster version with max payload is ('F9 B5 B1051.6',)
Booster version with max payload is ('F9 B5 B1060.3',)
Booster version with max payload is ('F9 B5 B1049.7 ',)

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [45]:
# Question 9
temp = spacex
temp['Year'] = 0
for index in temp.index:
    dt = temp.iloc[index,0]
    year = dt.split('-')[2]
    temp.iloc[index,10] = year

temp2 = temp[(temp[spacex_cols[9]]==success_outcomes[2]) & (temp['Year']=='2015')]
temp2[[spacex_cols[2],spacex_cols[3]]]

   Booster_Version  Launch_Site
13   F9 v1.1 B1012  CCAFS LC-40
16   F9 v1.1 B1015  CCAFS LC-40

In [56]:
# With SQL
connection = sqlite3.connect('temp.sqlite')
#temp.to_sql('temp',con=connection)
cur = connection.cursor()

In [54]:
cur.execute('''SELECT Booster_Version, Launch_Site FROM temp
WHERE "Landing _Outcome" = ? AND Year = 2015''', [success_outcomes[2]] )
for row in cur:
    print('Failed landing outcomes in drone ship with Booster version ', row[0], 'and Launch Site ', row[1])

Failed landing outcomes in drone ship with Booster version  F9 v1.1 B1012 and Launch Site  CCAFS LC-40
Failed landing outcomes in drone ship with Booster version  F9 v1.1 B1015 and Launch Site  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [55]:
# Question 10
spacex[[spacex_cols[9]]].rank()

     Landing _Outcome
0                14.5
1                14.5
2                26.0
3                26.0
4                26.0
..                ...
96               57.5
97               57.5
98               57.5
99               57.5
100              57.5

[101 rows x 1 columns]